@use './base.scss' as *;
@use './variables' as *;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  font-family: 'DM Sans', Arial;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;

  background-color: #ffffff;
  color: var(--colorFont);
}

h1 {
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
}
