:root {
  --lightBlack: #333;
  --darkGreen: #0c3619;
  --terracota: #dc966d;
  --chileRojo: #ce9481;
  --olive: #dcd9ae;
  --sunset: #eac891;
  --yellow: #fbcb77;

  --darkBlue: #052837;
  --skyBlue: #c7f2f1;
  --white: #f4f9f8;

  --color3: var(--terracota);

  --background1: var(--skyBlue);
  --background2: var(--white);
  --colorButton: var(--darkBlue);
  --colorFont: var(--darkBlue);
  --colorFontInverted: var(--white);
}
