:root {
  --lightBlack: #333;
  --darkGreen: #0c3619;
  --terracota: #dc966d;
  --chileRojo: #ce9481;
  --olive: #dcd9ae;
  --sunset: #eac891;
  --yellow: #fbcb77;

  --darkBlue: #052837;
  --skyBlue: #c7f2f1;
  --white: #eaf4f3;

  --color2: var(--olive);
  --color3: var(--terracota);

  --color1: var(--skyBlue);
  --colorButton: var(--darkBlue);
  --colorFont: var(--darkBlue);
  --colorFontInverted: var(--white);
}
